<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <!-- This file must be copied to $HOME/.m2 and the updated with your raspberry pi credentials -->
    <!-- for deployment to work properly -->
    <servers>
            <server>
              <id>pi</id>
              <username>pi</username>
              <password>raspberry</password>
            </server>
    </servers>
</settings>

